.window {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 50vh 0 0 0;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    background: radial-gradient(circle, rgba(0,0,0,0.625109418767507) 0%, rgba(255,255,255,0) 65%);
    padding: 50px;
  }

  &__title {
    color: #e6e6e6;
    font-size: 48px;
  }

  &__text {
    color: #e6e6e6;
    font-size: 22px;
  }
}
