* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.body {
	font-family: 'Gotham Pro';
	font-size: 18px;
	background: #fdfcfb;
}
h1 {
	font-size: 48px;
  font-weight: 900;
	color: white;
}
a {
	text-decoration: none;
}

.text-fish {
	background: rgb(39 40 44);
}