.price {
  position: relative;
  min-height: 800px;
  width: 100%;
  background-image: url('./../img/price/bgprice.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  &__wrap {
    position: absolute;
    top: 25%;
    left: 12%;
  }
  &__logo {
    font-size: 20px;
    line-height: 19px;
    color: #DC1313;
    text-transform: uppercase;
    margin-bottom: 30px;
    span {
      font-weight: 700;
      font-size: 50px;
      line-height: 38px;
    }
  }
  &__h4 {
    font-weight: 700;
    font-size: 38px;
    line-height: 36px;
    color: #292929;
    margin-bottom: 20px;
  }
  &__description {
    font-size: 18px;
    line-height: 163%;
    color: #1E1E1E;
    margin-bottom: 30px;
  }
  &__btn {
    display: inline;
    background: #DC1313;
    font-size: 16px;
    text-align: center;
    color: #FFF;
    transition: 1s all;
    border: 3px solid white;
    padding: 15px 54px;
    &:hover {
      color: #DC1313;
      background: #FFF;
      border: 3px solid #DC1313;
      transform: scale(1.1);
    }
  }
  &__img {
    position: absolute;
    bottom: 31%;
    right: 22%;
    opacity: .9;
    img {
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 1400px) {
  .price {
    &__img {
      right: 9%;
    }
  }
}

@media screen and (max-width: 1280px) {
  .price {
    &__img {
      right: 0%;
      img {
        padding: 15px;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .price {
    height: 100vh;
    &__wrap {
      top: 15%;
    }
    &__img {
      bottom: 10%;
    }
  }
}
@media screen and (max-width: 800px) {
  .price {
    &__img {
      bottom: 5%;
    }
  }
}
